@use '@/global' as g;

.common-button {
  border: 0;
  line-height: 1;
  cursor: pointer;
  border-radius: 3em;
  display: inline-block;
  font-weight: 700;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.common-button--light {
  background-color: g.$light-background;
  color: g.$light-text;
}
.common-button--dark {
  background-color: g.$dark-background;
  color: g.$dark-text;
}
.common-button--mugi {
  background-color: g.$mugi-primary;
  color: g.$mugi-secondary;
}
.common-button--small {
  padding: 8px 16px;
  font-size: 12px;
}
.common-button--medium {
  padding: 10px 20px;
  font-size: 16px;
}
.common-button--large {
  padding: 12px 24px;
  font-size: 22px;
}

.common-button--stretch {
  width: 100%;
}
